body{
	background-image: url("../images/pattern-background-desktop.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-color: #e0e8ff;
	height: 20em;
	font-size: 16px;
	font-family: 'Red Hat Display', sans-serif;
	text-align: center;
}


h1 {
	margin: 0;
}

a {
	text-decoration: none;
	font-weight: 700;
}

.container {
	width: 30%;
	margin: 100px auto;
	background-color: #fff;
	border-radius: 20px;
}

.container .header-img {
	width: 100%;
	border-radius: 20px 20px 0 0;
}

.card-body {
	width: 80%;
	margin: auto;
	padding-top: 50px;
	padding-bottom: 50px;
}

.light {
	color: #a8a8a8;
}

.plan-div {
	background-color: #f5f7ff;
	border-radius: 10px;
	padding: 15px;
}

.col {
    float: left;
    margin: 10px;
}

.change-link {
    float: right;
    margin-top: 1em;
}

.change-link a {
	color: #3829e0;
}

.change-link a:hover {
	opacity: 0.5;
}

.button {
	margin: 30px;
	background-color: #3829e0;
	border-radius: 10px;
	padding: 15px;
	color: #fff;
	box-shadow: 0px 20px 10px 2px #e0e8ff;
}

.button:hover {
	opacity: 0.5;
}

.cancel {
	font-weight: 900;
	color: #000;
	opacity: 0.5;
}

.cancel:hover {
	opacity: 1;
}


@media only screen and (max-width: 1178px) {
	.container {
		width: 40%;
		margin: 50px auto;
	}
}

@media only screen and (max-width: 900px) {
	.container {
		width: 60%;
		margin: 50px auto;
	}
}

@media only screen and (max-width: 600px) {
	.container {
		width: 80%;
		margin: 50px auto;
	}

	.col {
		margin: 5px;
	}

	.change-link {
	    margin-top: 1em;
	}
}

@media only screen and (max-width: 375px) {
	body {
		background-image: url("../images/pattern-background-mobile.svg");
	}

	.container {
		width: 90%;
	}

	.col {
		margin: 5px;
	}

	.change-link {
	    margin-top: 1em;
	}

}